body {
  background-color: black;
}
h1, pre, p {
  color: white;
  font-family: monospace;
}
a {
  color: #80b6a4;
}
a:hover {
  color: #c85c34;
}
img {
  max-width: 100%;
  height: auto;
}
.logo {
  padding-left: 2vw;
  width: 18%;
}
@media screen and (max-width: 800px) {
  .logo {
    width: 35%;
  }  
}
