html, body {
  margin: 0;
  height: 100%;
}
a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  color: #c85c34;
}
.container {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.wrapper {
  width: 70%;
  margin: 20px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 95%;
    margin: 10px;
  }
}
.logo {
  text-align: center;
  width: 30%;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .logo {
    width: 55%;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.big-content {
  text-align: center;
  font-family: monospace;
  font-size: 4vw;
  color: black;
}
@media screen and (max-width: 900px) {
  .big-content {
    font-size: 2.5em;
  }
}
.highlight {
  background: #80b6a4;
  display: inline;
  line-height: 1.75;
  outline-width: 5px;
  outline-style: solid;
  outline-color: #80b6a4;
}
.small-content {
  text-align: left;
  font-family: monospace;
  font-size: 1.75vw;
  color: black;
}
@media screen and (max-width: 900px) {
  .small-content {
    font-size: 1.25em;
  }
}
.footer-content {
  text-align: center;
  font-family: monospace;
  font-size: 2vw;
  color: black;
  padding-top: 2vw;
}
@media screen and (max-width: 900px) {
  .footer-content {
    font-size: 2em;
  }
}
